<div class="container">

    <div class="row mt-5 md-5">
        <div class="col-md-12">
            <h1 class="text-center">Venha saborear nossas deliciosas pizzas!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Nossas pizzas são feitas com os melhores produtos do mercado, com uma massa fininha e
                assadas em forno a lenha!
                Com mais de 30 anos de tradição de uma família Italiana, prezamos por oferecer sempre uma explosão de
                sabor e assim proporcionar ótimos momentos para você e sua família!
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/contato'>Faça seu pedido</button>
    </div>
</div>