<div class="mini-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="icone" href="">
                    <fa-icon class="fa-2x m-3" [icon]="fafacebook"></fa-icon>
                </a>
                <a class="icone" href="">
                    <fa-icon class="fa-2x m-3" [icon]="fainstagram"></fa-icon>
                </a>
                <a class="icone" href="">
                    <fa-icon class="fa-2x m-3" [icon]="fatwitter"></fa-icon>
                </a>
            </div>
            <div class="col-md-12">
                <div class="copyright-text">
                    <p>© 2020
                        <a href="#">PizzariaAngular</a>. Sua satisfação é nossa prioridade!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>